<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl.AsyncInterfaces" version="7.0.0" />
  <package id="Microsoft.Bcl.HashCode" version="1.1.1" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="6.0.0" />
  <package id="Npgsql" version="7.0.1" />
  <package id="System.Configuration.ConfigurationManager" version="7.0.0" />
  <package id="System.Diagnostics.DiagnosticSource" version="6.0.0" />
  <package id="System.Security.Permissions" version="7.0.0" />
  <package id="System.Text.Encodings.Web" version="7.0.0" />
  <package id="System.Text.Json" version="7.0.0" />
  <package id="System.Threading.Channels" version="7.0.0" />
</packages>