<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <configSections>
        <section name="human" type="System.Configuration.NameValueSectionHandler"/>
    </configSections>

    <human>
        <add key="FirstName" value="Albert"/>
        <add key="LastName" value="Einstein"/>
        <add key="Age" value="76"/>
    </human>

    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.62" />
    </startup>
</configuration>